* {
	margin: 0;
	padding: 0;
	overflow: hidden;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
	font-family: 'Press Start 2P', cursive;
	text-decoration: none;
    color: white;
}


p {
	max-width: 95vw;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/Sprites/Background/backgroundMobile.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: right;
	background-position-y: bottom;
}
body{
	overflow-x: hidden;
	position: relative;
	height: 100vh;
	width: 100vw;
	image-rendering: pixelated;
}

img{
	width: 8vw;
	height: 10vh;
}

input{
	background-color: black;
	color: white;
	padding: 1vw 1vh;
}

.ui{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.uiTop{
	position: relative;
	z-index: 100;

	top: 0;
	width: 100vw;
	height: fit-content;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.uiTop>p,.uiTop>a{
    background: linear-gradient(-20deg, rgb(91, 104, 116) 0%, rgb(36, 56, 66) 100%);
	padding: 1vh 3vw;
	margin: 20px 15px;
}

.uiTopCenter{
	background: linear-gradient(-20deg, rgb(91, 104, 116) 0%, rgb(36, 56, 66) 100%);
	padding: 1vh 3vw;
	margin: 20px 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.uiDown{
    background: linear-gradient(-20deg, rgb(91, 104, 116) 0%, rgb(36, 56, 66) 100%);
	box-shadow: 0 0 1vh rgba(255, 255, 255, 0.75);
	position: absolute;
	z-index: 100;

	bottom: 3vh;
	width: 70vw;
	margin-left: 15vw;
	height: 20vh;
	left: 0;


	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
	transition-duration: 1s;
}

#uiLives{
	transform-origin: right;
	transition-duration: 1s;
}

#buttonPlay{
	font-size: 2vh;
	padding: 3vh 12vw;
}

.uiDown:nth-child(1){
	background-color: wheat;
}

.uiCenter{
    background: linear-gradient(-20deg, rgb(91, 104, 116) 0%, rgb(36, 56, 66) 100%);
	box-shadow: 0 0 1vh rgba(255, 255, 255, 0.75);
	position: absolute;
	z-index: 100;

	margin-top: 10vh;
	margin-left: 110vw;
	padding-bottom: 1vh;

	width: 70vw;
	height: fit-content;


	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
	transition-duration: 1s;
}

.Shop{
	display: none;
	height: 50vh;
	width: 60vw;
	margin-top: 1vh;
	overflow:visible;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.upgrades{
	display: flex;
	height: 40vh;
	gap: 1vh;
	align-items: center;
	flex-direction: column;
}

.Settings{
    background: linear-gradient(-20deg, rgb(91, 104, 116) 0%, rgb(36, 56, 66) 100%);
	z-index: 100;

	width: fit-content;


	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	transition-duration: 1s;
}


.Buy1,.Buy2,.Buy3{
	height: 25vh;
	width: 50vw;
	padding: 0vh 1vw;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 1vh;
	background-color: rgba(0, 0, 0, 0.24);
	transition-duration: .5s;
}

.Buy2{
	margin: 0vh 1.5vw;
}

.Buy1:hover,.Buy2:hover,.Buy3:hover{
	transform: scale(1.1,1.1);
}

.btnMobile{
	position: absolute;
	z-index: 100;

	width: 50vw;
	height: 20vh;

	top: 75vh;
	left: 25vw;

	display:none;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

#btnUp,#btnLeft,#btnDown,#btnRight {
	width: 20vw;
	height: 6vh;
}

#btnSettings{
	background-color: transparent;
	width: 6vw;
	aspect-ratio: 1/1;
	margin-left: 1vw;
}

.uiCenter>h2{
	font-size: 2vh;
	margin-top: 1.5vh;
}

.Settings>input{
	font-size: 2vh;
	width: 60vw;
	height: 6vh;
	margin-top: 2vh;
}

@media only screen and (min-width: 768px)  and (orientation: landscape) and (min-aspect-ratio: 3/6){
	canvas{
		background-color: black;
		background: url(../images/Sprites/Background/background.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: right;
	}
	#btnSettings{
		aspect-ratio: 1/1;
		height: 5vh;
		width: fit-content;
	}
	.Settings{
		width: 20vw;
	}
	.upgrades{
		display: flex;
		height: 40vh;
		width: 60vw;
		align-items: center;
		flex-direction: row;
	}
	.Buy1,.Buy2,.Buy3{
		width: 17vw;
	}
}